@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono;300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btn {
  margin-top: 2rem;
  padding: 25px 50px 25px 50px;
  font-size: larger;
  border-radius: 25px;
  border: none;
}
